 {%load static%}
 <!-- ======= Hero Section ======= -->
 <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Ensemble Luttons pour L’amélioration de Notre état Sanitaire !!!!</h1>
      <h2>PROGRAMME ANNUEL DE L’ASSOCIATION DES JEUNES CONGOLAIS POUR L’ACCES A LA SANTE</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">En savoir plus</a>
        <a href="" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Voir la video</span></a>
      </div>
    </div>
  </section><!-- End Hero -->